<div class="page-header">
  <h1>Users</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Surname</th>
      <th>Name</th>
      <th>Patronymic</th>
      <th>Passport</th>
      <th>Phone</th>
      <th>Position</th>
      <th>Salary</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Сидоров</td>
      <td>Олег</td>
      <td>Владимирович</td>
      <td>9541236421</td>
      <td>4512 531235</td>
      <td>sidorov777@mail.ru</td>
      <td>Администратор</td>
      <td>40000 руб.</td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    clients_path, :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    clients_path,
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Гаврилов</td>
      <td>Илья</td>
      <td>Олегович</td>
      <td>9544354211</td>
      <td>1622 835133</td>
      <td>gavr1@gmail.com</td>
      <td>Менеджер</td>
      <td>50000 руб.</td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    clients_path, :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    clients_path,
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            clients_path,
            :class => 'btn btn-primary' %>
